.btn-custom-blue {
    background-color: #265973; /* blue color */
    color: white;
}

.btn-custom-blue:hover {
    background-color: #397999; /* darker blue on hover */
}


/* .card-body .card-title {
    color: rgb(54, 54, 53);
     
   }
    */

/* เพิ่ม CSS สำหรับตำแหน่ง */
.custom-mdb-table .dataTables_length label {
    margin-left: 22px !important; /* ขยับ label ไปทางขวา 50px */
    color: rgb(92, 92, 70); 
  }
  